<header class="site-header">
  <div class="container header-inner">
    <nav class="main-nav" aria-label="Navigation principale">
      <a class="logo" href="index.html" aria-label="Label Home">
        <img src="img/OVO_Sound-white.svg" alt="Label Logo" class="logo-img" />
      </a>
      <ul>
        <li><a href="#Artists">Artists</a></li>
        <li><a href="#Music">Music</a></li>
        <li><a href="#Shop">Shop</a></li>
        <li><a href="#Videos">Videos</a></li>
        <li><a href="#About">About</a></li>
        <li><a href="#Suscribe">Subscribe</a></li>
      </ul>
    </nav>
  </div>
</header>
